services:
  backend:
    build:
      dockerfile: Dockerfile.prod
    command: gunicorn api.config.wsgi:application --bind 0.0.0.0:8000
    restart: unless-stopped
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
volumes:
  static_volume:
  media_volume:
