asgiref==3.8.1
astroid==3.3.9
chardet==5.2.0
click==8.1.8
colorama==0.4.6
crispy-bootstrap5==2025.4
cssbeautifier==1.15.4
dill==0.4.0
dj-database-url==3.0.0
Django==5.2.1
django-chartjs==2.3.0
django-crispy-forms==2.4
django-filter==25.1
django-widget-tweaks==1.5.0
djlint==1.36.4
EditorConfig==0.17.0
isort==6.0.1
jsbeautifier==1.15.4
json5==0.12.0
mccabe==0.7.0
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
pip-check==3.1
pip-review==1.3.0
platformdirs==4.3.7
psycopg2-binary==2.9.10
pylint==3.3.6
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
python-decouple==3.8
python-dotenv==1.1.0
PyYAML==6.0.2
regex==2024.11.6
reportlab==4.4.0
ruff==0.11.11
six==1.17.0
sqlparse==0.5.3
terminaltables==3.1.10
tomlkit==0.13.2
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
XlsxWriter==3.2.3
gunicorn==21.2.0
