{% extends "base/base.html" %}
{% block title %}
    Senha Alterada
{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Senha Alterada</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <p>Sua senha foi alterada com sucesso!</p>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'login' %}" class="btn btn-primary">Fazer login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
