{% extends "base/base.html" %}
{% block title %}
    E-mail Enviado
{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">E-mail Enviado</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <p>
                            Enviamos um e-mail com instruções para definir sua nova senha, se existir uma conta com o e-mail que você forneceu.
                        </p>
                        <p>Você deve recebê-lo em breve.</p>
                    </div>
                    <p>
                        Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam.
                    </p>
                    <div class="text-center mt-3">
                        <a href="{% url 'login' %}" class="btn btn-primary">Voltar para o login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
